
#mapid { height: 800px; width: 100%;}

body{
    background-color:#777;
}

.leaflet-container{
    background-color:#777;
}

.leaflet-tooltip-top:before{
    border-radius: 0px;
    border: none;
}
.leaflet-tooltip.mapLabel {
    font-size:14pt;
    text-shadow: 2px 2px #777;
    color: #FFD;
    background-color: transparent;
    margin:auto;
    border: none;
    box-shadow: none;
}

